.contacts {
  height: 80%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  &__title {
    font-size: 2rem;
  }
}
.form {
  height: fit-content;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.753);
  border-radius: 10px;
  box-shadow: 10px 5px 2px;
}
.fieled-group {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
.label {
  margin-top: 0.6rem;
  font-weight: bold;
  text-align: center;
}
.input {
  margin: 0.6rem 0;
  padding: 0.4rem;
  width: 20rem;
  font-size: 1.25rem;
  letter-spacing: 1.2;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.error {
  transition: 0.5s ease-in-out;
}
.submit {
  margin-top: 0.6rem;
  padding: 0.3rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.157);
  font-size: 1.5rem;
  &:hover {
    transition: 0.4s;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
