@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.home {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  &__title {
    font-size: 2rem;
    text-align: center;
    font-family: "Itim", cursive;
    color: #db2626d2;
  }
  .menu {
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Lobster", cursive;
  }
  .menu__item {
    font-size: 1.5rem;
  }
}
