@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: #000;
  --prmary-invisable: rgba(255, 255, 255, 0);
  --active-border-top: 0.1875rem solid var(--primary-orange);
  --primary-purple: #7a00ff;
}

.app-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 1fr;
}

.wrapper-content {
  position: relative;
  padding-top: 1.5rem;
  min-height: calc(100% - 70px);
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  background-color: var(--primary-orange);
}
